<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информаци о товаре</title>
</head>
<body>
<h3>Информация о товаре: </h3>
<p th:text="'Наименование товара: ' + ${product.getTitle()}"></p>
<p th:text="'Описаниее: ' + ${product.getDescription()}"></p>
<p th:text="'Цена: ' + ${product.getPrice()}"></p>
<p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
<p th:text="'Продавец: ' + ${product.getSeller()}"></p>
<p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
<a href="/product">Назад</a>
<div th:each="img : ${product.getImageList()}">
<img th:src="'/img/' + ${img.getFileName()}">
</div>
<hr>
<a href="/product">Назад</a>
</body>
</html>